#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  margin-left: 15%;
  margin-bottom: 5px;
  text-align: center;
  background-color: rgb(52, 228, 96);
  padding-bottom: 10px;
}

.dropdown {
  text-align: center;
  border-radius: 10px;
  margin-right: 50px;
  margin-bottom: 5px;
  background-color: rgb(233, 221, 111);
}

.navbar {
  text-align: center;
  padding-top: 50px;
  width: 15%;
  color: white;
  background-color: rgb(70, 100, 105);
  padding: 20px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.home-button {
  width: auto;
  background-color: rgb(230, 231, 125);
  text-decoration: none;
  padding: 3px 5px;
  border-style: ridge;
  display: block;
  margin-top: 23px;
  margin-bottom: 4px;
  white-space:pre-wrap;
  word-break:break-word;
}

.nav-button {
  border: 2px solid black;
  background-color: rgb(52, 228, 96);
  color: black;
  text-decoration: none;
  padding: 3px 5px;
  border-style: ridge;
  display: block;
  margin-bottom: 4px;
  width: auto;
  max-width: 130px;
  white-space:pre-wrap;
  word-break:break-word;
}

.container {
  display: grid;
}

.article-card {
  list-style-type: none;
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: auto;
  padding: 10px;
}

.article-list {
  text-align: center;
  margin: auto;
}

.article-image {
  width: 90%;
}

.comment-box {
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 40px;
  margin-top: 10px;
  padding: 10px;
  width: auto;
}

.comment-input {
  width: 60%;
}

.content {
  margin-left: 15%;
}

.individual-article {
  margin-left: 40px;
  border: 1px solid black;
  border-radius: 20px;
  box-sizing: border-box;
  width: auto;
  padding: 10px;
  text-align: center;
}

#title {
  width: auto;
}

#comment-title {
  width: auto;
}

@media screen and (max-width: 320px) {
  img {
    display: none;
  }
}

.error-message {
  color: red;
}
