@media only screen and (min-width: 480px){


.container {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  height: 100vh;
  grid-gap: 10px;
  grid-template-areas: 
  "header header header header"
  "sidebar query query query"
  "sidebar article article article"
  "sidebar article article article"
  "sidebar article article article"
  "sidebar article article article"
  "sidebar footer footer footer";
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  margin-bottom: 5px;
  text-align: center;
  background-color: rgb(52, 228, 96);
  padding-bottom: 10px;
  grid-area: header;
}

.footer {
  grid-area: footer;
}
.query {
  grid-area: query;
}

.navbar {
  text-align: center;
  color: white;
  background-color: rgb(70, 100, 105);
  padding: 20px;
  grid-area: sidebar;
  width: 100px
}

.dropdown {
  text-align: center;
  border-radius: 10px;
  margin-right: 25px;
  margin-bottom: 5px;
  background-color: rgb(233, 221, 111);
  grid-area: header;
}

.dropdown:focus {
  background-color: rgb(223, 204, 40);
}


.home-button {
  width: auto;
  background-color: rgb(230, 231, 125);
  text-decoration: none;
  padding: 3px 5px;
  border-style: ridge;
  display: block;
  margin-top: 23px;
  margin-bottom: 4px;
  white-space:pre-wrap;
  word-break:break-word;
}

.home-button:hover {
  background-color:  rgb(204, 206, 94);;
}

.nav-button {
  border: 2px solid black;
  background-color: rgb(52, 228, 96);
  color: black;
  text-decoration: none;
  padding: 3px 5px;
  border-style: ridge;
  display: block;
  margin-bottom: 4px;
  width: auto;
  max-width: 130px;
  white-space:pre-wrap;
  word-break:break-word;
  font-size: 12px;
}
.nav-button:hover {
  background-color: rgb(111, 111, 255);
}

.article-list {
  text-align: center;
  margin: auto;
}

.article-image {
  width: 90%;
}

.article-card {
  list-style-type: none;
  border: 3px solid #466469;
  border-radius: 20px;
  border-style: groove;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 10px;
}


.topic {
  text-align: center;
  color:  indigo;
  border-radius: 50px;
  border:2px solid #466469;
  width: 80px;
  border-style: ridge;
  font-size: 16px;
}

.individual-article {
  margin-left: 40px;
  border: 1px solid black;
  border-radius: 20px;
  box-sizing: border-box;
  width: auto;
  padding: 10px;
  text-align: center;
}

.comment-box {
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 40px;
  margin-top: 10px;
  padding: 10px;
  width: auto;
}

.comment-input {
  width: 60%;
}


#title {
  width: auto;
}

#comment-title {
  width: auto;
}

.error-message {
  color: red;
}
}

@media only screen and (max-width: 480px) {
  img {
    display: none;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 30px auto;
    height: 100vh;
    grid-gap: 10px;
    grid-template-areas: 
    "header"
    "navbar"
    "query"
    "article"
    "article"
    "article"
    "article"
    "article"
    "article"
    "article"
    "article"
    "article"
    "article"
    "footer ";
  }

  .header {
    margin-bottom: 5px;
    text-align: center;
    background-color: rgb(52, 228, 96);
    padding-bottom: 10px;
    grid-area: header;
  }

  .navbar {
    text-align: center;
    background-color: rgb(70, 100, 105);
  }

  .home-button {
    background-color:  rgb(199, 218, 203);
    text-decoration: none;
    padding: 3px 5px;
    border-style: ridge;
    margin-right: 15px;
    grid-area: navbar;
    margin-top: 2px;
  }
  
  .nav-button {
    border: 2px black;
    border-style: ridge;
    background-color: rgb(141, 224, 162);
    color: black;
    text-decoration: none;
    font-size: 12px;
    padding: 4px 6px;
    margin-left: 5px;
    grid-area: navbar;
  }  
  .nav-button:hover {
    background-color: rgb(111, 111, 255);
  }

  
  .query {
    grid-area: query;
  }
  .dropdown {
    text-align: center;
    border-radius: 10px;
    margin-right: 25px;
    margin-bottom: 5px;
    background-color: rgb(233, 221, 111);
    grid-area: query;
  }


  #root {
    /* margin: 0 auto; */
    padding: 1rem;
    text-align: center;
  }
  
  
  .home-button:hover {
    background-color:  rgb(204, 206, 94);;
  }
  
  .article-list {
    text-align: center;
    margin: auto;
  }
  
  .article-image {
    width: 90%;
  }
  
  .article-card {
    list-style-type: none;
    border: 3px solid #466469;
    border-radius: 20px;
    border-style: groove;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px;
  }
  
  
  .topic {
    text-align: center;
    color:  indigo;
    border-radius: 50px;
    border:2px solid #466469;
    width: 80px;
    border-style: ridge;
    font-size: 16px;
  }
  
}


