#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  text-align: center;
  padding-top: 50px;
}

.article-card {
  list-style-type: none;
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: auto;
  padding: 10px
}

.article-image {
  width:90%

}

.article-list {
  text-align: center;
  margin: auto;
 
}

.container {
    display: grid;
}

.sidebar {
    width: 15%;
    color: white;
    background-color: rgb(58, 117, 128);
    padding: 20px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
}

.content {
 margin-left: 15%;
}
.header {
  margin-left: 15%;
  margin-bottom: 20px;
  text-align: center;
  background-color: blue;

}

.individual-article {
  margin-left: 5%;
  border: 1px solid black;
  border-radius: 20px;
  box-sizing: border-box;
  width: auto;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  img {
    display: none;
  }
  
}